<%- include("partial/header.ejs") %>

<section class="home">
  <div class="px-4 py-5 my-5 text-center">
    <img
      class="d-block mx-auto mb-4"
      src="/image/image.png"
      alt=""
      width="15%"
      height="15%"
    />

    <h1 class="display-5 fw-bold text-body-emphasis">To Do List</h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4">
        What a Great way to start your day! Keep track of your tasks and
        <br />
        never forget what you need to do. This is a simple To Do List.
      </p>
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
        <form action="/submit" method="POST">
          <button type="submit" name="action" value="action1" class="btn btn-primary btn-lg px-4 gap-3">
            Agenda Today
          </button>
          <button type="submit" name="action" value="action2" class="btn btn-outline-secondary btn-lg px-4">
            Pabili ni Mama
          </button>
        </form>
      </div>
    </div>
  </div>
</section>

<%- include("partial/footer.ejs") %>
